body {font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      background-color: #f9f9f9;	
    
}
* {box-sizing: border-box;}


.banner {
    background-image: url("https://static.kb.pl/media/uploads/media_image/original/wpis/3954/Slub-koscielny.jpg");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    position: relative;
    
}

.container {
    position: absolute;
    margin: 1.5rem 0rem;
    width: auto;

}


.nav {
    overflow: hidden;
    background-color: #532915;
    width:100%;
    padding: 1.5rem 0.5rem;
    border-radius: 5px;
}
.nav a{
    font-family: "Lato";
    text-decoration: none;
    color: white;
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    
}
.nav a:hover {
    background-color: white;
    color:#532915;
}

 .logo {
    position: absolute;
    font-family: "Allura";
     font-style: italic;
     color: white;
     font-size: 3rem;
     top:40%;
     left:50%;
     transform: translate(-50%, -50%);
     text-shadow: 2px 2px black;
     word-spacing: 1rem;
     
}

.main {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    text-align: center;
    width: 80%;
    max-height: 400px;
    min-width: 480px;
    margin:20px auto;
    font-style: italic;
    word-spacing: 0.3rem;
    line-height: 1.3;
    /*border: 1px solid #532915;*/
}


.main h2 {
    text-align: center;
}

.box img {
    max-height: 200px;
   /*padding-left: 40px;
    height: 50%; */   
}
.box p {
    text-indent: 2em;
}
.main > .box {
    margin: auto;
}
.and {
   
    min-width: 200px;
}

.second {
    font-family: "Lato";
    width:80%;
    margin: 5rem auto;
    text-align: justify;
    font-style: italic;
    word-spacing: 0.3rem;
    line-height: 1.3;
}

#nasza:after {
  content: ' \007E';
}

#nasza:before {
  content: ' \007E\ ';
}

#narze:after {
  content: ' \007E';
}

#narze:before {
  content: ' \007E\ ';
}
.second h2{
    text-align: center;
}

.second p {
    text-indent: 2em;
}
.gallery {
    background-color: #532915;
    text-align: center;
    width: 90%;
    margin: auto;
}
.gallery img{
    width: 35%;
    padding: 1rem;
    
}
.gallery span { display: none; }  
.gallery a:hover span { display: block; 
                        position: absolute;
					    top: 140%; 
						left: 15%; 
						text-align: center; }
.dol {
    display: grid;
    grid-template: 300px/ 1fr 1fr 1fr;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    font-family: "Lato";
    
    
    
}
.box2 {
    width: 250px;
    height: 250px;
    margin: auto;
}
.box2 img {
    height: 15%;
    width: auto;
    margin: auto;
}

.box2 p {
    text-align: center;
}


.bottom {
	display: grid;	
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 120px;
	justify-content: center;
	
	align-items: center;
	font-size: 1.3rem;
    	font-family: "Allura";
	color: #4e4e4e;
	border-top: 1px solid #4e4e4e;
    
}
 .sign {
	justify-self: start;
	grid-column: 4/ span 2;
}

 .dove {
	 background-image: url("https://us.123rf.com/450wm/juliarstudio/juliarstudio1809/juliarstudio180919536/107904621-%C5%9Blubne-dwie-go%C5%82%C4%99bie-ikona-kresk%C3%B3wka.jpg?ver=6");
	 background-size: cover;
	 grid-column: 7/ span 2;
	 justify-self: end;
	 height: 100%;
	 width: 50%;
	 opacity: 0.5;
	 
}


